<div>
    <br>
    <div class="nav tabs">
        {{#with navigation}}
            {{#each links}}
            <div class="nav-item">
                {{#if @last}}
                <a href="{{href}}" class="nav-link disabled">{{text}}</a>
                {{else}}
                <a href="{{href}}" class="nav-link action">{{text}}</a>
                {{/if}}
            </div>
            {{/each}}
        {{/with}}
    </div>
    <br>
    <br>
    <br>
    <div>
        <ol class="breadcrumb">
            {{#each breadcrumb}}
            {{#if @last}}
                    <li class="breadcrumb-item active">
                        {{name}}
                    </li>
            {{else}}
            <li  class="breadcrumb-item">
                <a href="{{url}}">{{name}}</a>
            </li>
            {{/if}}
            {{/each}}
        </ol>
    </div>
    <br>
    <h1>{{header}}</h1>
    <br>
    <div class="col-9">
        <div class="row">
            {{#each sortBlock}}
                <div class="col-4 ">
                    <select class="form-select">
                        <option selected>{{placeholder}}</option>
                        {{#each options}}
                        <option value="{{value}}">{{text}}</option>
                        {{/each}}
                    </select>
                </div>
            {{/each}}
        </div>
    </div>
    <br>
    <br>
    <div class="row">
       <div class="col-4 card ">
            {{#with filterBlock}}
                {{#with sellers}}
                    <div class="pt-2 ps-2 pb-2">{{title}}</div>
                    {{#each list}}
                        <div class="form-check">
                            <label class="form-check-label">{{value}}</label>
                            <input type="checkbox" class="form-check-input">
                        </div>
                    {{/each}}
                {{/with}}
                <hr>
                {{#with brands}}
                    <div class="ps-2 ">{{title}}</div>
                    {{#with input}}
                        <div class=" pt-2 pb-2">
                            <input class="form-control " type="text" placeholder="{{placeholder}}">
                        </div>  
                    {{/with}}
                    {{#each options}}
                        <div class="form-check">
                            <label class="form-check-label"> {{value}}</label>
                            <input type="checkbox" class="form-check-input">
                        </div>
                    {{/each}}
                {{/with}}
                <hr>
                {{#with price}}
                    <div class="ps-2 ">{{title}}</div>
                    {{#with range}}
                        <div class="pt-2 ps-2">
                            <input class="form-control" type="text" placeholder="{{from}}">
                        </div>
                        <div class="pt-2 ps-2">
                            <input class="form-control" type="text" placeholder="{{to}}">
                        </div>
                    {{/with}}
                    <br>
                    <div class="row">
                        <div class="col-2 mx-3 ">
                            {{#with button}}
                                <button href="{{link}}" class=" btn-outline-secondary px-4 ">{{text}}</button>
                            {{/with}}
                        </div>
                    </div>
                {{/with}}
                {{#each filterList}}
                    <hr>    
                    <div class="pb-2 ">{{title}}</div>
                    {{#each options}}
                    <div class="form-check">
                        <label class="form-check-label"> {{value}}</label>
                        <input type="checkbox" class="form-check-input">
                    </div>
                    {{/each}}
                {{/each}}
            {{/with}}
       </div>
       <div class="col-8 row ps-4 pe-4 pb-2">
            {{#each goodsList}}
                <div class="col-6   card pb-2">
                    <img class="card-img-top"   src="{{img}}" alt="{{img}}">
                    <div>
                        <span class="badge text-bg-warning rounded-pill">HOT!</span>
                        <span class="badge btn btn-primary rounded-pill">NEW</span>
                    </div>
                    <br>
                    <div><span class="badge btn btn-success rounded-pill">Швидка доставка</span></div>
                    <div><span class="badge btn btn-secondary rounded-pill my-2">Безкоштовна доставка</span></div>
                    <div>
                        <h6>{{name}}</h6>
                    </div>
                    {{#with review}}
                        {{amount}} {{text}}
                    {{/with}}
                    <div class="mt-2"><h4>{{price}}</h4></div>
                    <div>{{delivery}}</div>
                    {{#each buttons}}
                        <div>
                            {{#if isPrimary}}
                            <button href="{{link}}" class=" btn btn-primary px-4 mt-2 ">{{text}}</button>
                            {{else isSecondary}}
                            <button href="{{link}}" class=" btn btn-secondary px-4 mt-2">{{text}}</button>
                            {{/if}}
                        </div>
                    {{/each}}
                    {{#each characteristics}}
                        <div>
                            <ul>
                                <li>
                                    {{title}}:{{value}}
                                </li>
                            </ul>
                        </div>
                    {{/each}}
                    <br>
                </div>
            {{/each}}
       </div>
    </div>
    <div>
         <br>
    <hr>
    <br>
    {{#with service}}
    <div class="row">
        <div class="col-12 g-3">
            <div class="card text-bg-success">
                <div class="card-title text-center alert-success"><h2><strong>{{title}}</strong></h2></div>
                <div class="text-center"><p>{{description}}</p></div>
                {{#each buttons}}
                    <div class="card-body text-center"></div>
                    <div class="col-12 text-center pb-3">
                        <a href="{{link}}" class="btn btn-primary">{{text}}</a>
                    </div>
                {{/each}}
                </div>
            </div>
        </div>
    </div>
    {{/with}}
    <br>
    <hr>
    <br>
    <div class="row ">
        {{#each footer}}
            <div class="col-2 g-5">
                {{#each this}}
                <div class="nav">
                    <div class="nav-item">
                        {{#if @last}}
                        <a href="{{link}}" class="nav-link disabled">{{text}}</a>
                        {{else}}
                        <a href="{{link}}" class="nav-link action">{{text}}</a>
                        {{/if}}
                    </div>
                </div>
                {{/each}}
            </div>
        {{/each}}
    </div>
    </div>
</div>
