<div>
    <br>
    <div class="nav nav-tabs"></div>
    <div class="nav nav-tabs">
        {{#with navigation}}
            {{#each links}}
            <div class="nav-item">
                {{#if @last}}
                <a href="{{href}}" class="nav-link disabled">{{text}}</a>
                {{else}}
                <a href="{{href}}" class="nav-link action">{{text}}</a>
                {{/if}}
            </div>
            {{/each}}
        {{/with}}
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        {{#with formBlock}}
        <div class="col-8">
            <h2>{{header}}</h2>
            <br>
            {{#with rating}}
                {{title}}: {{value}}
            {{/with}}
            <br>
            <br>
            {{#with actionBlock}}
                <div class="nav nav-tabs">
                    {{#each tabs}}
                        <div class="nav-item">
                            {{#if isActive}}
                                <a href="#" class="nav-link ">{{text}}</a>
                            {{else}}
                                <a href="#" class="nav-link ">{{text}}</a>
                            {{/if}}
                        </div>
                    {{/each}}
                </div>
                <br>
                <hr>
                <br>
                {{#with report}}
                    <div class="card p-3">
                        {{title}}
                        <div class="col-4 pt-2">
                            {{#with button}}
                                <button class="{{link}} btn btn-secondary btn-sm">{{text}}</button>
                            {{/with}}
                        </div>
                    </div>
                {{/with}}
            {{/with}}
            <br>
            <hr>
            <br>
            {{#with feedbackBlock}}
                <h2>{{title}}</h2>
                <br>
                {{#each buttons}}
                    {{#if isWarning}}
                        <button class="{{link}} btn btn-warning btn-sm mx-2">{{text}}</button>
                    {{else isSuccess}}
                        <button class="{{link}} btn btn-success btn-sm mx-2">{{text}}</button>
                    {{else isDanger}}
                        <button class="{{link}} btn btn-danger btn-sm mx-2">{{text}}</button>
                    {{/if}}
                {{/each}}
            {{/with}}
        </div>
        <div class="col-4">
            {{#with goodsInfo}}
                <div class="card pb-3 ps-3 pt-3">
                    <div class="col-8 ">
                        <img class="card-img-top"   src="{{photo}}" alt="{{photo}}">
                    </div>
                    {{name}}
                </div>
                <br>
                <div class="card pb-3 ps-3 pt-3">
                    {{#if inMarket}}
                        <strong>{{price}}</strong>
                    {{/if}}
                    {{#each buttons}}
                        {{#if isPrimary}}
                            <button class="{{link}} btn btn-primary btn-sm mx-2 m-2">{{text}}</button>
                        {{else isSecondary}}
                            <button class="{{link}} btn btn-secondary btn-sm mx-2">{{text}}</button>
                        {{/if}}
                    {{/each}}
                </div>
                <br>
                <div class="card pb-3 ps-3 pt-3">
                    {{#with seller}}
                        {{title}}: <strong>{{value}}</strong>
                    {{/with}}
                </div>
            {{/with}}
        </div>
        {{/with}}
    </div>
    <br>
    <hr>
    <br>
    {{#each reviewList}}
        <div class="card mb-5">
            {{#with title}}
                <div class="card mt-4 ms-4 me-4 pt-3 ps-3">
                    <strong>{{userName}}</strong>
                    <p>{{caption}}</p>
                    <p>{{date}}</p>
                </div>
            {{/with}}
            {{#with reviewBody}}
                <div class="card ms-4 me-4 pt-3 ps-3 pb-3">
                    {{#with seller}}
                        {{title}}: {{value}}
                    {{/with}}
                    <br>
                    <br>
                    {{#with rating}}
                        {{title}}: {{value}}
                    {{/with}}
                    <br>
                    <br>
                    {{#each text}}
                        {{this}}
                    {{/each}}
                    <br>
                    <br>
                    {{#with advantages}}
                        <strong>{{title}}</strong>
                        {{text}}
                    {{/with}}
                    <br>
                    <br>
                    {{#with disadvantages}}
                        <strong>{{title}}</strong>
                        {{text}}
                    {{/with}}
                    <div class="row">
                        {{#each images}}
                            <div class="col-2">
                                {{#if this}}
                                <img class="card-img-top"   src="{{this}}" alt="{{images}}">
                                {{/if}}
                            </div>
                        {{/each}}
                    </div>
                </div>
                <div>
                    {{#each coments}}
                        <div class="card ms-5 mt-3 mb-3 me-4 pt-3 ps-3">
                            <strong><p>{{userName}}</p></strong>
                            <p>{{date}}</p>
                            <p>{{text}}</p>
                        </div>
                    {{/each}}
                </div>
            {{/with}}
        </div>
    {{/each}}
    <br>
    <hr>
    <br>
    {{#with service}}
    <div class="row">
        <div class="col-12 g-3">
            <div class="card text-bg-success">
                <div class="card-title text-center alert-success"><h2><strong>{{title}}</strong></h2></div>
                <div class="text-center"><p>{{description}}</p></div>
                {{#each buttons}}
                    <div class="card-body text-center"></div>
                    <div class="col-12 text-center pb-3">
                        <a href="{{link}}" class="btn btn-primary">{{text}}</a>
                    </div>
                {{/each}}
                </div>
            </div>
        </div>
    </div>
    {{/with}}
    <br>
    <hr>
    <br>
    <div class="row ">
        {{#each footer}}
            <div class="col-2 g-5">
                {{#each this}}
                <div class="nav">
                    <div class="nav-item">
                        {{#if @last}}
                        <a href="{{link}}" class="nav-link disabled">{{text}}</a>
                        {{else}}
                        <a href="{{link}}" class="nav-link action">{{text}}</a>
                        {{/if}}
                    </div>
                </div>
                {{/each}}
            </div>
        {{/each}}
    </div>
</div>